@page
@model Proiect_medii_turism.Pages.Agents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agent.AgentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
